<app-navbar></app-navbar>
<div class="container mt-4">
    <h1>Mes Pokémons</h1>
    
    <div class="row">
        <div class="col-9">
            <input class="form-control" [(ngModel)]="currentPokemonName" type="text">
        </div>
        <div class="col-3">
            <button class="btn btn-primary" (click)="addPokemon()">
                Ajouter un Pokémon
            </button>
        </div>
    </div>
    <div class="row d-flex justify-content-start mt-4 align-items-center pokemon-item" *ngFor="let pokemon of pokemons; let index = index">
        <div class="col-9">
            <div class=" pokemon-name text-primary">{{ pokemon.name }}</div>
        </div>
        <div class="col-3">
            <button class="btn btn-danger" (click)="deletePokemon(index)">
                Supprimer
            </button>
        </div>
    </div>

</div>
