<div class="container">
    <div class="row">
        <div class="col-12 pokemon-list mt-4 mb-4">
            <div *ngFor="let pokemon of pokemons" class="pokemon pl-4 d-flex align-items-center justify-content-center">{{ pokemon.name | uppercase }}</div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="page-index m-4" (click)="toPage(beforePreviousPage)" *ngIf="beforePreviousPage > 0">{{ beforePreviousPage }}</div>
        <div class="page-index m-4" (click)="toPage(previousPage)" *ngIf="previousPage > 0">{{ previousPage }}</div>
        <div class="page-index current-page m-4" (click)="toPage(currentPage)">{{ currentPage }}</div>
        <div class="page-index m-4" (click)="toPage(nextPage)" *ngIf="nextPage < 65">{{ nextPage }}</div>
        <div class="page-index m-4" (click)="toPage(afterNextPage)" *ngIf="afterNextPage < 65">{{ afterNextPage }}</div>
    </div>
</div>
