a {
    cursor: pointer;
    color: black;
}

.pokemon {
    background-color: rgb(216, 216, 216);
    border: 1px solid white;
    height: 30px;
}

.current-page {
    text-decoration: underline;
    color: blue;
}

.page-index {
    cursor: pointer;

    &:hover {
        color: blue;
        text-decoration: underline;

        &.current-page {
            text-decoration: none;
            color: black;
        }
    }
}


