$blue: rgb(13, 110, 253);
$blue2: rgb(100, 162, 254);
$darken-color: 10%;

a {
    cursor: pointer;
    color: black;
}

.pokemon {
    background-color: rgb(216, 216, 216);
    border-radius: 5px;
    border: 1px solid white;
    height: 30px;
    font-weight: 500;
}

.current-page {
    cursor: pointer;
    color: white;
    background-color: $blue;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        font-size: 1.3rem;
    }
}

.page-index {
    cursor: pointer;
    background-color: $blue2;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        color: white;
        font-size: 1.3rem;
    }
}

.grey-plus {
    background-color: rgb(198, 198, 198);
}


